<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
   <p>
    Splurty was built by Randon.
  </p>
  <br />
  <p>
    It took a couple of days
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'picture.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Randon Hewitt</h2>
      <br />
      <p>
        Software engineer at Ebsco. Refactored search engine
        updates for libraries to improve update speed by a 
        factor of 10,000.  
      </p>
    </div>
  </div>
 <br class="clear" />
<br />
<br />
<br />
<br />